<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>

    <title>paytonrules/OCDSpec @ GitHub</title>

    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <link rel="stylesheet" type="text/css" href="/css/pygments.css">
  </head>

  <body>
    <a href="https://github.com/paytonrules/OCDSpec"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
    
      <div id="container">
        
        <div class="download">
          <a href="https://github.com/paytonrules/OCDSpec/zipball/master">
            <img border="0" width="90" src="https://github.com/images/modules/download/zip.png"></a>
          <a href="https://github.com/paytonrules/OCDSpec/tarball/master">
            <img border="0" width="90" src="https://github.com/images/modules/download/tar.png"></a>
        </div>


        {{ content }}
      </div>

  </body>
</html>
