<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>

    <title>paytonrules/OCDSpec @ GitHub</title>

    <link rel="stylesheet" type="text/css" href="css/default.css">
    <link rel="stylesheet" type="text/css" href="css/pygments.css">
  </head>

  <body>
    <a href="https://github.com/paytonrules/OCDSpec"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
    
      <div id="container">
        {{ content }}
      </div>

  </body>
</html>
